.photo-grid {
  display: grid;
  margin-left: auto;
  margin-right: auto;
  grid-auto-rows: 1fr;
}

@media (min-width: 1280px) {
  .photo-grid {
    max-width: calc(100% - 96px);
    min-height: 671px;
    margin-top: 92px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 16px;
  }
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .photo-grid {
    max-width: calc(100% - 96px);
    min-height: 942px;
    margin-top: 92px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 14px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .photo-grid {
    max-width: calc(100% - 48px);
    min-height: 1664px;
    margin-top: 88px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 16px;
  }
}

@media (min-width: 425px) and (max-width: 767px) {
  .photo-grid {
    max-width: calc(100% - 32px);
    min-height: 2724px;
    margin-top: 64px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(12, 1fr);
    gap: 12px;
  }
}

@media (max-width: 424px) {
  .photo-grid {
    max-width: calc(100% - 32px);
    min-height: 2724px;
    margin-top: 64px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(12, 1fr);
    gap: 12px;
  }
}