.places {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 1280px) {
  .places {
    max-width: calc(100% - 296px);
    min-height: 3392px;
    margin-top: 92px;
    gap: 80px;
    margin-bottom: 92px;
    /* grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 16px; */
  }
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .places {
    max-width: calc(100% - 96px);
    min-height: 3292px;
    margin-top: 92px;
    gap: 80px;
    margin-bottom: 92px;
    /* grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 14px; */
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .places {
    max-width: calc(100% - 48px);
    min-height: 2300px;
    margin-top: 88px;
    gap: 73px;
    margin-bottom: 90px;
    /* grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 16px; */
  }
}

@media (max-width: 767px) {
  .places {
    max-width: 100%;
    min-height: 4000px;
    margin-top: 64px;
    gap: 50px;
    margin-bottom: 66px;
    /* grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(12, 1fr);
    gap: 12px; */
  }
}