.header {
  display: flex;
  color: white;
  justify-content: space-between;
  max-width: calc(100% - 96px);
  margin-left: auto;
  margin-right: auto;
  margin-top: 28px;
  min-width: 288px;
  max-height: 52px;
}

/* @media (max-width: 1024px) {
  .header {
    width: calc(100% - 96px);
  }
} */

@media (min-width: 768px) and (max-width: 1023px) {
  .header {
    max-width: calc(100% - 48px);
  }
}

@media (max-width: 767px) {
  .header {
    margin-top: 16px;
    max-width: calc(100% - 32px);
    max-height: 42px;
  }
}