.header {
  display: flex;
  color: white;
  justify-content: space-between;
  max-width: calc(100% - 96px);
  margin-left: auto;
  margin-right: auto;
  margin-top: 28px;
  min-width: 288px;
  min-height: 52px;
}

@media (max-width: 1024px) {
  .header {
    width: calc(100% - 96px);
  }
}

@media (max-width: 768px) {
  .header {
    width: calc(100% - 48px);
  }
}

@media (max-width: 320px) {
  .header {
    margin-top: 16px;
    width: calc(100% - 32px);
    min-height: 42px;
  }
}