.footer__copyright {
  padding: 0 0;
  margin: 0 0;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: white;
  align-self: flex-end;
}

@media (min-width: 768px) {
  .footer__copyright {
    text-align: right;
    position: absolute;
    right: 0;
    bottom: 0;
  }
}

@media (max-width: 767px) {
  .footer__copyright {
    margin-top: 48px;
    line-height: 14px;
  }
}