.footer__copyright {
  padding: 0 0;
  margin: 0 0;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: white;
}

@media (min-width: 1280px) {
  .footer__copyright {
    text-align: right;
    justify-self: end;
  }
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .footer__copyright {
    text-align: right;
    justify-self: end;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .footer__copyright {
    text-align: right;
    justify-self: end;
  }
}

@media (min-width: 425px) and (max-width: 767px) {
  .footer__copyright {
    margin-top: 16px;
    line-height: 14px;
  }
}

@media (max-width: 424px) {
  .footer__copyright {
    margin-top: 16px;
    line-height: 14px;
  }
}