.cover {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
}

@media (min-width: 1280px) {
  .cover {
    max-width: calc(100% - 96px);
    min-height: 740px;
    margin-bottom: 92px;
  }
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .cover {
    min-height: 640px;
    margin-bottom: 92px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .cover {
    min-height: 480px;
    margin-bottom: 88px;
  }
}

@media (max-width: 767px) {
  .cover {
    min-height: 200px;
    margin-bottom: 64px;
  }
}