.place__link {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 122%;
  text-decoration-line: underline;
  color: white;
}

.place__link:hover {
  opacity: .8;
  transition: .5s;
}