.lead__caption {
  margin: 0 0;
  padding: 0 0;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  margin-top: 8px;
  /* align-self: flex-start; */
}

@media (min-width: 1280px) {
  .lead__caption {
    align-self: flex-start;
  }
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .lead__caption {
    align-self: flex-start;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .lead__caption {
    align-self: baseline;
    margin-left: 24px;
  }
}

@media (min-width: 425px) and (max-width: 767px) {
  .lead__caption {
    align-self: baseline;
    margin-left: 16px;
  }
}

@media (max-width: 424px) {
  .lead__caption {
    align-self: baseline;
    margin-left: 16px;
  }
}