.cover__title {
  margin: 0 0;
  padding: 0 0;
  font-style: normal;
  font-weight: 900;
  text-align: center;
  width: 100%;
}

@media (min-width: 1280px) {
  .cover__title {
    /* max-width: calc(100% - 624px); */
    min-height: 152px;
    font-size: 72px;
    line-height: 76px;
    margin-bottom: 32px;
  }
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .cover__title {
    /* max-width: calc(100% - 208px); */
    min-height: 152px;
    font-size: 72px;
    line-height: 76px;
    margin-bottom: 32px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .cover__title {
    /* max-width: calc(100% - 48px); */
    min-height: 152px;
    font-size: 72px;
    line-height: 76px;
    margin-bottom: 32px;
  }
}

@media (min-width: 425px) and (max-width: 767px) {
  .cover__title {
    /* width: 288px; */
    min-height: 70px;
    font-size: 32px;
    line-height: 35px;
    margin-bottom: 16px;
  }
}

@media (max-width: 424px) {
  .cover__title {
    /* width: 288px; */
    min-height: 70px;
    font-size: 32px;
    line-height: 35px;
    margin-bottom: 16px;
  }
}